<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">SpringShelter</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/animals">Animals</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/form">Form</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Animal Shelter</h1>
        </div>
    </div>
</header>

<section class="text-center" id="animals-list">
    <div class="container" id="list">

    </div>
</section>



<script>
    let i;
    let data;
    let x;

    function submitVisitation() {
        data = $("form").formToJson();
        $.ajax({
            url: 'http://localhost:8100/animals/' + x + '/visit',
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (result) {
                console.log(result);
                window.alert('Succes in making visit request');
                $("visitWindow").close;
            },
            error: function (error) {
                console.log(error);
                window.alert("Error during making visit request");
            }
        })
        return false;
    };


    $.ajax({
        url: 'http://localhost:8100/animals',
        type: "GET",
        success: function (result) {
            jsonToList(result);
        },
        error: function (error) {
            console.log(error);
            document.getElementById('list').innerHTML = '<div class="alert alert-danger" role="alert">' +
                'Error during loading animals list!' +
                '</div>'
        }
    });

    function persistUUID(y) {
        x = y;
    }

    function jsonToList(jsonList) {
        let listHtml = '<table class="table table-striped">' +
            '<thead>' +
            '    <tr>' +
            '        <th>Name</th>' +
            '        <th>Species</th>' +
            '        <th>Race</th>' +
            '       <th>Visit</th>' +
            '    </tr>' +
            '    </thead>';

        for (i = 0; i < jsonList.length; i++) {
            listHtml = listHtml.concat('<tr>' +
                '<td>' +
                jsonList[i].name +
                '</td>' +
                '<td>' +
                jsonList[i].species +
                '</td>' +
                '<td>' +
                jsonList[i].race +
                '</td>' +
                '<td>' +
                '<button class="btn btn-info" data-toggle="modal" data-target="#visitWindow" onclick="persistUUID(&quot;' + jsonList[i].id + '&quot;)">Visit</button>' +
                '</td>' +
                '</tr>');
        }
        listHtml = listHtml.concat('</table>');
        document.getElementById('list').innerHTML = listHtml;
    }
</script>

<div id="visitWindow" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="form">
                    <div class="form-group">
                        <label for="mail">E-mail</label>
                        <input class="form-control" type="email" id="mail" placeholder="Enter mail" name="mail">
                    </div>
                    <div class="form-group">
                        <label for="date">Date of birth</label>
                        <input class="form-control" type="date" id="date" name="date">
                    </div>
                </form>
                <button class="btn btn-success" onclick="submitVisitation()">Submit</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<section th:replace="fragments :: contact"></section>

<script th:src="@{/formToJson.js}"></script>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>