<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
<body>
<div id="list">

</div>

<script>
    $.ajax({
        url: 'http://localhost:8100/animals',
        type: "GET",
        success: function (result) {
            console.log(result);
            window.alert('Succes in getting all animals list: ');
            jsonToList(result);
        },
        error: function (error) {
            console.log(error);
            window.alert("Error during loading alll animals");
        }
    });

    function jsonToList(jsonList) {
        let listHtml = '<table class="table table-striped">' +
            '<thead>' +
            '    <tr>' +
            '        <th>Name</th>' +
            '        <th>Species</th>' +
            '        <th>Race</th>' +
            '    </tr>' +
            '    </thead>';
        var i;
        for (i = 0; i < jsonList.length; i++) {
            listHtml = listHtml.concat('<tr>' +
                '<td>' +
                jsonList[i].name +
                '</td>' +
                '<td>' +
                '</td>' +
                '<td>' +
                '</td>' +
                '</tr>');
        }
        listHtml = listHtml.concat('</table>');
        document.getElementById('list').innerHTML =listHtml;
    }
</script>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>