<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div class="container">
    <form id="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="form-group">
            <label for="species">Species</label>
            <input class="form-control" type="text" id="species" placeholder="Enter species" name="species">
        </div>
        <div class="form-group">
            <label for="race">Race</label>
            <input class="form-control" type="text" id="race" placeholder="Enter race" name="race">
        </div>
        <div class="form-group">
            <label for="weight">Weight</label>
            <input class="form-control" type="number" id="weight" value=0.0 name="weight" step="0.01">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" name="gender" id="gender">
                <option value="MALE">male</option>
                <option value="FEMALE">female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="date">Date of birth</label>
            <input class="form-control" type="date" id="date" name="dateOfBirth">
        </div>
        <button class="btn btn-success" type="submit">Add</button>
    </form>

</div>
<script th:src="@{/formToJson.js}"></script>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>