<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div class="container">
    <form id="form"><!-- method="POST" action="http://localhost:8100/animals" -->
        <input type="text" value="name" name="name">
        <input type="text" value="race" name="race">
        <input type="text" value="species" name="species">
        <input type="number" value=0.0 name="weight" step="0.01">
        <select name="gender">
            <option value="MALE">male</option>
            <option value="FEMALE">female</option>
        </select>
        <input type="date" name="dateOfBirth">
        <input type="submit"/>
        <!--  <input type="number" value="weight">
          <input type="datetime-local" value="dateOfBirth">
           <button class="btn btn-success" onclick="sendForm('addAnimalForm','http://localhost:8100/animals')">
        Add
    </button>
    -->
    </form>

</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>