<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
<body>

<footer th:replace="fragments :: footer"></footer>
</body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">SpringShelter</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/animals">Animals</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/form">Form</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Animal Shelter</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Welcome, in the animal shelter application. You can browse animals we have in our base and also add an animal to it.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
    </div>
</header>

<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-black mb-4">Animal Shelter</h2>
                <p class="text-black-50">
                    It is demo a microservice based application with use of Spring framework.
                </p>
            </div>
        </div>
    </div>
</section>

<section th:replace="fragments :: contact"></section>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
